/*/////////////////////////////////////////////////////////////////////////////////////////////////////////
 MAIN CONTENT CONTAINER
*/
.main-content {
  position: relative;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////
 WELCOME SECTION
*/
.welcome {
  @include box;
  padding: 3rem;
  animation: scale-in 2s 0.5s cubic-bezier(0.25, 1, 0.5, 1);
  animation-fill-mode: backwards;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////
 DASHBOARD (MAIN CONTENT)
*/

.dashboard {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  transform: translateY(80%);
  position: absolute;
  top: 3rem;
  left: 0;

  @media only screen and (max-width: 100.9375em) {
    flex-wrap: wrap;
  }

  // 900px
  @include respond(tab-port) {
    section:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}

.food {
  flex: 0 0 25%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // 1615px
  @media only screen and (max-width: 100.9375em) {
    flex: 0 0 35%;
  }

  // 1200px
  @include respond(tab-land) {
    flex: 0 0 40%;
  }

  // 1000px
  @media only screen and (max-width: 62.5em) {
    flex: 0 0 45%;
  }

  // 900px
  @include respond(tab-port) {
    flex: 0 0 100%;
  }
}

.overview {
  flex: 0 0 30%;

  display: flex;
  flex-direction: column;

  // 1615px
  @media only screen and (max-width: 100.9375em) {
    order: -1;
    flex: 0 0 60%;
  }

  // 1200px
  @include respond(tab-land) {
    flex: 0 0 50%;
  }

  // 900px
  @include respond(tab-port) {
    flex: 0 0 100%;
  }
}

.analytics {
  flex: 0 0 30%;

  display: flex;
  flex-direction: column;

  // 1330px
  @media only screen and (max-width: 100.9375em) {
    margin-top: 2rem;
    flex: 0 0 100%;
  }
}
