$white: #fff;
$dark-bg: #545454;
$sub-dark-bg: #929292;
$red: #fe6262;
$yellow: #ffc400;
$blue: #2eabfe;
$teal: #5cf298;
$green: #46ee00;
$radius: 1.5625rem;
$wrapper-padding: 2rem;
$shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
